<div class="row">

    <div class="col-md-6" style="margin-top: 15px;">
        
        <mat-form-field appearance="fill">
            <mat-label>From</mat-label>
            <mat-select [(value)]="leftSelected">
                <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
<!-- 
        <button mat-icon-button aria-label="File" (click)="loadFile()">
            <mat-icon>attach_file</mat-icon>
        </button> -->

        <button mat-icon-button aria-label="Convert" (click)="convertData(data,leftSelected,rightSelected)">
            <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>

        <mat-form-field style="width: 100%;" appearance="outline">
            <textarea matInput rows="30" [(ngModel)]="data.leftText" name="leftText"></textarea>
        </mat-form-field>
    </div>

    <div class="col-md-6" style="margin-top: 15px;">
        <mat-form-field appearance="fill">
            <mat-label>To</mat-label>
            <mat-select [(value)]="rightSelected">
                <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%;" appearance="outline">
            <textarea matInput rows="30" [(ngModel)]="data.rightText" name="rightText"></textarea>
        </mat-form-field>
    </div>
</div>